.wa-icon {
    width: 30px;
    height: 30px;
    fill: white;
}            


/* Variant 15: Border Spin */
.btn-15 {
    width: 60px;
    height: 60px;
    background: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 15px rgba(37, 211, 102, 0.4);
}

.btn-15::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border: 3px solid transparent;
    border-top-color: #25d366;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.btn-15:hover::before {
    opacity: 1;
    animation: spin 1s linear infinite;
}
@keyframes spin {
100% {
    transform: rotate(360deg);
}
}

