.wa-icon {
    width: 30px;
    height: 30px;
    fill: white;
}            


/* Variant 20: Neumorphism */
.btn-20 {
    width: 60px;
    height: 60px;
    background: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 8px 8px 16px rgba(18, 140, 126, 0.4),
    -8px -8px 16px rgba(76, 237, 138, 0.4);
}
.btn-20:hover {
    box-shadow: inset 4px 4px 8px rgba(18, 140, 126, 0.4),
        inset -4px -4px 8px rgba(76, 237, 138, 0.4);
}

